body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navigation-menu {
  background: #002129;

  a {
    position: relative;
    display: inline-block;
    margin: 15px 15px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 20px;
    border: 1px solid transparent;

    &.active {
      border: 1px solid #fff;
    }
  }
}
.product-content-main {
  display: flex;
  flex-wrap: wrap;

  .product-image-main {
    width: 60%;
    display: flex;
    flex-direction: column;

    .main-image-wrap {
      margin-left: 100px;
      width: calc(100% - 100px);
      text-align: center;
      overflow: hidden;
      .slick-slider{
        display: flex;
        justify-content: center;
        position: relative;
        .slick-arrow{
          position: absolute;
          top: 50%;
          z-index: 1;
          &.slick-prev{
            left: 0;
          }
          &.slick-next{
            right: 0;
          }
        }
        .slick-list{
          width: 100%;
          .slick-track{
            display: flex;
          }
        }
      }
      img {
        width: 90%;
      }
    }

    .thumbnail-images {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 100px;
      width: calc(100% - 100px);
      max-height: 80px;
      overflow: hidden;
      .slick-slider{
        display: flex;
        justify-content: center;
        width: 100%;
        .slick-list{
          width: 100%;
          .slick-track{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .slick-slide {
              opacity: 0.2;
              width: 100px !important;
              &.slick-current {
                  opacity: 1;
              }
          }
          }
        }
      }
      img {
        width: 75px;
        padding-inline: 5px;
      }
    }
  }

  .product-text-main {
    width: 40%;

    .text-section-inner {
      .title-main {
        padding: 0 1.25rem;
        margin-bottom: 0;
        margin-top: 0;
        font-size: 40px;
        line-height: 50px;
      }

      .price-wrap {
        padding: 20px 28px 0;

        span {
          color: red;
          font-weight: 600;
          font-size: 18px;
        }

        .compare-price {
          color: rgba(128, 128, 128, 0.508);
          text-decoration: line-through;
          font-weight: 500;
        }
      }

      .product-form-wrap {
        .swatches {
          text-align: left;
          vertical-align: top;

          .swatch {
            margin-bottom: 15px;
            display: inline-block;
            margin-right: 20px;
            vertical-align: top;

            .swatch-element {
              text-align: center;
              line-height: 1;
              display: inline-block;
              padding: 10px;
              border: 1px solid transparent;
              cursor: pointer;

              span {
                width: 100%;
              }

              &.strike-off {
                text-decoration: line-through;
                color: slategray;

                &.active {
                  border: 1px solid gray;
                }
              }

              &.active {
                border: 1px solid red;
              }
            }
          }
        }

        .quantity-selector {
          width: 100px;
          padding: 10px 0;
          cursor: pointer;

          .quantity-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid;
            width: 100%;

            div {
              width: 33%;
              text-align: center;
              padding: 10px;
            }
          }
        }

        .AddToCart {
          min-width: 150px;

          &.disabled {
            cursor: not-allowed;
            opacity: .5;
            border: 2px solid gray;
          }
        }
      }

      button {
        appearance: none;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        white-space: nowrap;
        user-select: none;
        text-transform: uppercase;
        font-weight: 500;
        background: none;
        outline: 0;
        overflow: hidden;
        border: 2px solid #e42229;
        padding: 1.05em 1.7em 0.85em;
        color: #002129;
        font-size: 0.8rem;
        letter-spacing: 0.12em;
      }
    }
  }
}
// .main-image-wrap {
//   padding: 0 45px 70px;
//   .slick-slide {
//       display: none;
//       &.slick-active.slick-current {
//           display: block;
//       }
//   }
//   .image {
//       img {
//           width: 100%;
//           height: 100%;
//       }
//   }
// }